<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Twitter</title>
    <link rel="stylesheet" href="../static/bootstrap.min.css">
</head>
<div class="container">
<body>
<tr>
    <td align="right">
        <a href="/followers">Seus Seguidores</a>
        <a href="/posts">Suas postagens</a>
        <a href="/sair">Sair</a>
    </td>
</tr>

<h1>Bem vindo ao Twitter</h1>
<br>
<br>

<br>

<form action="/home" method="POST">
    <textarea id="txtArea" placeholder="O que está acontecendo?" rows="10" cols="70" name="content"></textarea>
    <br><button class="btn btn-primary" type="submit, button">Tweetar</button>
</form>
<br>
<br>

{% for c in posts %}

<div>
    <h4>{{c.name}} - <a href="/follow/{{c.id_user}}">Seguir o usuario</a></h4>
    <p>{{c.content}}</p>
</div>
<br>

{% endfor %}

</body>
</div>
</html>