<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Twitter</title>
    <link rel="stylesheet" href="../static/bootstrap.min.css">
</head>


<body>
<div class="container">
    <h1 class="text-center" >Login</h1>
    <form action="/" method="POST">
        <div class="col text-center">
        <input class="form-control" placeholder="usuario" name="username">
        <div>
        <br>
        <div class="col text-center">
        <input class="form-control " placeholder="senha" type="password" name="password">
        <div>
        <br>
        <div class="col text-center">
        <button class="btn btn-primary" type="button, submit">Entrar</button>
        </div>
    </form>
    <br>
    <p>Não tem uma conta? <a href="/cadastrar">Clique aqui</a>, para se cadastrar</p>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

<div>
</body>


</html>