<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Twitter</title>
    <link rel="stylesheet" href="../static/bootstrap.min.css">
</head>

<body>
    <div class="container">
    <h1>Tweets</h1>
        <br>
        <a href="/home" class="btn btn-primary">Voltar </a>
        <br>
        <br>


        {% for c in posts %}

        <tr>
            <td>{{c.content}}
                <br>
                <br>
            </td>
        </tr>
        <br>
        <br>

        {% endfor %}
    </div>


</body>

</html>